/* Fonts */
@font-face {
	font-family: 'Airbnb Cereal Bold';
	src: local('Airbnb Cereal Bold'),
		url(./assets/fonts/AirbnbCerealBold.ttf) format('truetype');
}
@font-face {
	font-family: 'Airbnb Cereal Book';
	src: local('Airbnb Cereal Book'),
		url(./assets/fonts/AirbnbCerealBook.ttf) format('truetype');
}
@font-face {
	font-family: 'Airbnb Cereal Medium';
	src: local('Airbnb Cereal Medium'),
		url(./assets/fonts/AirbnbCerealMedium.ttf) format('truetype');
}

* {
	margin: 0;
	padding: 0;
	font-family: 'Airbnb Cereal Bold', 'Helvetica Neue', sans-serif;
}
